<!DOCTYPE html>
<html>

<head>
  <title>To Do List</title>
</head>

<body>
  <h1>It's a <%= day %>!</h1>
  <p>Why are you not working?</p>

  <ul>
    <% for (let i=0; i < newListItems.length; i++) { %>
    <li> <%= newListItems[i]; %> </li>
    <% } %>
  </ul>

  <form class="" action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit" name="button">Add</button>
  </form>

</body>

</html>
